<launch>

    <include file="$(find multiverse_server)/launch/multiverse_server.launch"/>

    <rosparam command="load" file="$(find tiago_dual_mujoco)/config/tiago_dual.yaml" />
    <node pkg="multiverse_client" type="multiverse_socket_node.py" name="multiverse_socket"
        output="screen" />

</launch>