<launch>

    <node pkg="multiverse_server" type="multiverse_server" name="multiverse_server" output="screen"
        args="7300 7400 7500" />

    <rosparam command="load" file="$(find ur_mujoco)/config/ur5e.yaml" />
    <node pkg="multiverse_client" type="multiverse_socket_node.py" name="multiverse_socket"
        output="screen" />

</launch>